.interactive-hero-block {
  display: flex;
  align-items: stretch;
  color: #015498;
}
.interactive-hero-block .interactive-left {
  width: 100%;
}
.interactive-hero-block .interactive-center {
  position: relative;
}
.interactive-hero-block .interactive-center .main-image {
  width: 100%;
  height: auto;
  min-width: 300px;
}
.interactive-hero-block .interactive-center .image-overlay {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  display: flex;
  align-items: flex-start;
  justify-content: center;
}
.interactive-hero-block .interactive-center .image-overlay .hs-popup {
  width: 55%;
  background: white;
  box-shadow: 0px 0px 17px 2px rgba(0, 0, 0, 0.4);
  margin-left: 3px;
  margin-top: 20%;
  left: 0;
  right: 0;
  z-index: 1;
}
.interactive-hero-block .interactive-center .image-overlay .hs-popup.hs-hidden {
  display: none;
}
.interactive-hero-block .interactive-center .image-overlay .hs-popup .header {
  display: flex;
  justify-content: flex-end;
  margin-bottom: 0.5em;
}
.interactive-hero-block .interactive-center .image-overlay .hs-popup .header i {
  font-size: 20px;
  padding: 0.5em;
  cursor: pointer;
}
.interactive-hero-block .interactive-center .image-overlay .hs-popup .content {
  padding: 0 1em;
}
.interactive-hero-block .interactive-center .image-overlay .hs-popup .footer {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 1em;
}
.interactive-hero-block .interactive-center .image-overlay .hs-popup .footer i {
  cursor: pointer;
  font-size: 20px;
}
.interactive-hero-block .interactive-center .image-overlay .hs-popup .accordion-content {
  display: none;
}
.interactive-hero-block .interactive-center .image-overlay .hotspot-container {
  position: absolute;
}
.interactive-hero-block .interactive-center .image-overlay .hotspot-container .pulse:hover {
  background-color: #015498;
}
.interactive-hero-block .interactive-center .image-overlay .hotspot-container .pulse:hover i {
  color: #ffffff;
}
.interactive-hero-block .interactive-center .image-overlay .hotspot-container .pulse {
  width: 2em;
  height: 2em;
  border-radius: 50%;
  background-color: #ffffff;
  border: 1px solid #015498;
  cursor: pointer;
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
}
.interactive-hero-block .interactive-center .image-overlay .hotspot-container .pulse i {
  font-size: 1em;
  font-weight: 600;
}
.interactive-hero-block .interactive-center .image-overlay .hotspot-container .pulse:before,
.interactive-hero-block .interactive-center .image-overlay .hotspot-container .pulse:after {
  content: "";
  display: block;
  position: absolute;
  border-radius: 50%;
  border: 1px solid #015498;
  left: -0.8em;
  right: -0.8em;
  top: -0.8em;
  bottom: -0.8em;
  animation: pulse-animate 3s linear infinite;
  opacity: 0;
}
.interactive-hero-block .interactive-center .image-overlay .hotspot-container .pulse:after {
  animation-delay: 2s;
}
.interactive-hero-block .interactive-center .image-overlay #hs1 {
  top: 20%;
  left: 10%;
}
.interactive-hero-block .interactive-center .image-overlay #hs2 {
  top: 45%;
  left: 10%;
}
.interactive-hero-block .interactive-center .image-overlay #hs3 {
  top: 70%;
  left: 10%;
}
.interactive-hero-block .interactive-center .image-overlay #hs4 {
  top: 20%;
  left: 80%;
}
.interactive-hero-block .interactive-center .image-overlay #hs5 {
  top: 45%;
  left: 80%;
}
.interactive-hero-block .interactive-center .image-overlay #hs6 {
  top: 70%;
  left: 80%;
}
.interactive-hero-block .interactive-right {
  width: 100%;
}

/******************************************* MEDIA QUERIES: START ************************************************/
@media screen and (min-width: 769px) {
  .interactive-hero-block .interactive-center .image-overlay .hotspot-container .hs-popup {
    top: 2em;
    width: 20vw;
    position: absolute;
  }
  .interactive-hero-block .interactive-center .image-overlay .hotspot-container .hs-popup.pos-left {
    left: -26vw;
  }
  .interactive-hero-block .interactive-center .image-overlay .hotspot-container .hs-popup.pos-left.zero {
    top: 0;
  }
  .interactive-hero-block .interactive-center .image-overlay .hotspot-container .hs-popup.pos-left.one {
    top: 0;
  }
  .interactive-hero-block .interactive-center .image-overlay .hotspot-container .hs-popup.pos-left.two {
    top: 0;
  }
  .interactive-hero-block .interactive-center .image-overlay .hotspot-container .hs-popup.pos-right {
    left: 8.5vw;
  }
  .interactive-hero-block .interactive-center .image-overlay .hotspot-container .hs-popup.pos-right.zero {
    top: 0;
  }
  .interactive-hero-block .interactive-center .image-overlay .hotspot-container .hs-popup.pos-right.one {
    top: 0;
  }
  .interactive-hero-block .interactive-center .image-overlay .hotspot-container .hs-popup.pos-right.two {
    top: 0;
  }
}
/******************************************* MEDIA QUERIES: END ************************************************/
/******************************************* ANIMATIONS: START ************************************************/
@keyframes pulse-animate {
  0% {
    transform: scale(0.5);
    opacity: 0.75;
  }
  50% {
    opacity: 0.75;
  }
  100% {
    transform: scale(1.2);
    opacity: 0;
  }
}
/******************************************* ANIMATIONS: END ************************************************/

/*# sourceMappingURL=discovery-image-hotspot-poc.css.map */
