.rck-image-overlay {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  display: flex;
  align-items: flex-start;
  justify-content: center;
}

.interactive-hero-block {
  display: flex;
  align-items: stretch;
  color: #015498;
  font-family: "Open Sans", sans-serif;
}
.interactive-hero-block .interactive-left {
  width: 100%;
}
.interactive-hero-block .interactive-center {
  position: relative;
}
.interactive-hero-block .interactive-center .main-image {
  width: 100%;
  height: auto;
  min-width: 350px;
}
.interactive-hero-block .interactive-center .rck-image-overlay {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  display: flex;
  align-items: flex-start;
  justify-content: center;
}
.interactive-hero-block .interactive-center .rck-image-overlay .hs-popup {
  width: 55%;
  background: white;
  color: #3B3B3B;
  box-shadow: 3px 5px 24px 1px rgba(0, 0, 0, 0.2);
  margin-left: 3px;
  margin-top: 15%;
  left: 0;
  right: 0;
  z-index: 1;
}
.interactive-hero-block .interactive-center .rck-image-overlay .hs-popup.hs-hidden {
  display: none;
}
.interactive-hero-block .interactive-center .rck-image-overlay .hs-popup .rck-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.interactive-hero-block .interactive-center .rck-image-overlay .hs-popup .rck-header .index {
  padding: 1em 1.5em;
  font-weight: 600;
  letter-spacing: 0.05em;
}
.interactive-hero-block .interactive-center .rck-image-overlay .hs-popup .rck-header .rck-close-button {
  font-size: 1em;
  font-weight: 800;
  padding: 1em 1.5em;
  cursor: pointer;
}
.interactive-hero-block .interactive-center .rck-image-overlay .hs-popup .rck-content .rck-heading {
  font-weight: 600;
  padding: 0 1.5em;
}
.interactive-hero-block .interactive-center .rck-image-overlay .hs-popup .rck-content .rck-heading-divider {
  width: 1.75em;
  height: 0.2em;
  background: #3B3B3B;
  margin: 0 1.5em;
  margin-bottom: 1em;
  margin-top: 0.5em;
}
.interactive-hero-block .interactive-center .rck-image-overlay .hs-popup .rck-content .rck-accordion-container {
  display: none;
}
.interactive-hero-block .interactive-center .rck-image-overlay .hs-popup .rck-content .rck-accordion-container .rck-accordion-content {
  max-height: 70vw;
  overflow-y: auto;
  padding: 0 1.5em;
  margin-bottom: 1em;
  margin-top: 0.8em;
  margin-right: 1em;
}
.interactive-hero-block .interactive-center .rck-image-overlay .hs-popup .rck-content .rck-accordion-container .rck-accordion-content.rck-has-visual {
  max-height: 35vw;
}
.interactive-hero-block .interactive-center .rck-image-overlay .hs-popup .rck-content .rck-accordion-container .rck-accordion-content::-webkit-scrollbar,
.interactive-hero-block .interactive-center .rck-image-overlay .hs-popup .rck-content .rck-accordion-container .rck-accordion-content::-webkit-scrollbar-thumb,
.interactive-hero-block .interactive-center .rck-image-overlay .hs-popup .rck-content .rck-accordion-container .rck-accordion-content::-webkit-scrollbar-track {
  width: 8px;
  border: none;
}
.interactive-hero-block .interactive-center .rck-image-overlay .hs-popup .rck-content .rck-accordion-container .rck-accordion-content::-webkit-scrollbar-button,
.interactive-hero-block .interactive-center .rck-image-overlay .hs-popup .rck-content .rck-accordion-container .rck-accordion-content::-webkit-scrollbar-track-piece,
.interactive-hero-block .interactive-center .rck-image-overlay .hs-popup .rck-content .rck-accordion-container .rck-accordion-content::-webkit-scrollbar-corner,
.interactive-hero-block .interactive-center .rck-image-overlay .hs-popup .rck-content .rck-accordion-container .rck-accordion-content::-webkit-resizer {
  display: none;
}
.interactive-hero-block .interactive-center .rck-image-overlay .hs-popup .rck-content .rck-accordion-container .rck-accordion-content::-webkit-scrollbar-thumb {
  border-radius: 6px;
  background-color: #3B3B3B;
}
.interactive-hero-block .interactive-center .rck-image-overlay .hs-popup .rck-content .rck-accordion-container .rck-accordion-content::-webkit-scrollbar-track {
  background-image: url("http://navigatehost.co.za/digital_discovery/custom-dev/image-hotspot/assets/scroll-track.png");
  background-repeat: repeat-y;
  background-size: contain;
}
.interactive-hero-block .interactive-center .rck-image-overlay .hs-popup .rck-content .rck-accordion-container .rck-visual-container {
  height: 35vw;
  background-color: #707070;
}
.interactive-hero-block .interactive-center .rck-image-overlay .hs-popup .rck-footer {
  display: flex;
  align-items: center;
  justify-content: center;
}
.interactive-hero-block .interactive-center .rck-image-overlay .hs-popup .rck-footer .rck-accordion-icon-container {
  position: absolute;
}
.interactive-hero-block .interactive-center .rck-image-overlay .hs-popup .rck-footer .rck-accordion-icon-container .rck-accordion-icon {
  cursor: pointer;
  font-size: 1em;
  font-weight: 800;
  padding: 0.8em;
  left: -0.8em;
  position: absolute;
  color: white;
  background: #3B3B3B;
  border-radius: 100%;
  text-align: center;
  top: -1.4em;
  line-height: 1;
}
.interactive-hero-block .interactive-center .rck-image-overlay .hs-popup .rck-footer .rck-accordion-icon-container .rck-accordion-icon:hover {
  background: #CB4E00;
}
.interactive-hero-block .interactive-center .rck-image-overlay .rck-hotspot-container {
  position: absolute;
}
.interactive-hero-block .interactive-center .rck-image-overlay .rck-hotspot-container .pulse-vitality {
  width: 1.5em;
  height: 1.5em;
  border-radius: 50%;
  color: white;
  cursor: pointer;
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
}
.interactive-hero-block .interactive-center .rck-image-overlay .rck-hotspot-container .pulse-vitality .pulse-label {
  font-size: 0.8em;
  font-weight: 600;
  z-index: 1;
}
.interactive-hero-block .interactive-center .rck-image-overlay .rck-hotspot-container .pulse-vitality:before,
.interactive-hero-block .interactive-center .rck-image-overlay .rck-hotspot-container .pulse-vitality:after {
  content: "";
  display: block;
  position: absolute;
  border-radius: 50%;
  left: -0.6em;
  right: -0.6em;
  top: -0.6em;
  bottom: -0.6em;
  -webkit-transition-property: -webkit-transform;
  -webkit-transition-duration: 1s;
  -moz-transition-property: -moz-transform;
  -moz-transition-duration: 1s;
  -webkit-animation-name: grow;
  -webkit-animation-duration: 2s;
  -webkit-animation-iteration-count: infinite;
  -webkit-animation-timing-function: linear;
  -moz-animation-name: grow;
  -moz-animation-duration: 2s;
  -moz-animation-iteration-count: infinite;
  -moz-animation-timing-function: linear;
  transition-property: -moz-transform;
  transition-duration: 1s;
  animation-name: grow;
  animation-duration: 2s;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
  opacity: 1;
}
.interactive-hero-block .interactive-center .rck-image-overlay .rck-hotspot-container .pulse-vitality-selected .pulse-label {
  font-size: 0.8em;
  font-weight: 600;
  z-index: 1;
}
.interactive-hero-block .interactive-center .rck-image-overlay .rck-hotspot-container .pulse-vitality-selected:before,
.interactive-hero-block .interactive-center .rck-image-overlay .rck-hotspot-container .pulse-vitality-selected:after {
  content: "";
  display: block;
  position: absolute;
  border-radius: 50%;
  animation: none;
  background-color: #CB4E00;
}
.interactive-hero-block .interactive-center .rck-image-overlay .rck-hotspot-container .pulse:hover {
  background-color: #015498;
}
.interactive-hero-block .interactive-center .rck-image-overlay .rck-hotspot-container .pulse:hover i {
  color: #ffffff;
}
.interactive-hero-block .interactive-center .rck-image-overlay .rck-hotspot-container .pulse {
  width: 2em;
  height: 2em;
  border-radius: 50%;
  background-color: #ffffff;
  border: 1px solid #015498;
  cursor: pointer;
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
}
.interactive-hero-block .interactive-center .rck-image-overlay .rck-hotspot-container .pulse i {
  font-size: 1em;
  font-weight: 600;
}
.interactive-hero-block .interactive-center .rck-image-overlay .rck-hotspot-container .pulse:before,
.interactive-hero-block .interactive-center .rck-image-overlay .rck-hotspot-container .pulse:after {
  content: "";
  display: block;
  position: absolute;
  border-radius: 50%;
  border: 1px solid #015498;
  left: -0.8em;
  right: -0.8em;
  top: -0.8em;
  bottom: -0.8em;
  animation: pulse-animate 3s linear infinite;
  opacity: 0;
}
.interactive-hero-block .interactive-center .rck-image-overlay .rck-hotspot-container .pulse:after {
  animation-delay: 2s;
}
.interactive-hero-block .interactive-center .rck-image-overlay #hs1 {
  top: 20%;
  left: 12%;
}
.interactive-hero-block .interactive-center .rck-image-overlay #hs2 {
  top: 45%;
  left: 12%;
}
.interactive-hero-block .interactive-center .rck-image-overlay #hs3 {
  top: 70%;
  left: 12%;
}
.interactive-hero-block .interactive-center .rck-image-overlay #hs4 {
  top: 20%;
  left: 82%;
}
.interactive-hero-block .interactive-center .rck-image-overlay #hs5 {
  top: 45%;
  left: 82%;
}
.interactive-hero-block .interactive-center .rck-image-overlay #hs6 {
  top: 70%;
  left: 82%;
}
.interactive-hero-block .interactive-right {
  width: 100%;
}

/******************************************* MEDIA QUERIES: START ************************************************/
@media screen and (min-width: 769px) {
  .interactive-hero-block .interactive-center .rck-image-overlay .rck-hotspot-container .hs-popup {
    top: 2em;
    width: 20vw;
    position: absolute;
  }
  .interactive-hero-block .interactive-center .rck-image-overlay .rck-hotspot-container .hs-popup .rck-content .rck-accordion-content {
    max-height: 20vw;
  }
  .interactive-hero-block .interactive-center .rck-image-overlay .rck-hotspot-container .hs-popup .rck-content .rck-accordion-content.rck-has-visual {
    max-height: 15vw;
  }
  .interactive-hero-block .interactive-center .rck-image-overlay .rck-hotspot-container .hs-popup .rck-content .rck-visual-container {
    height: 15vw;
  }
  .interactive-hero-block .interactive-center .rck-image-overlay .rck-hotspot-container .hs-popup.pos-left {
    left: -26vw;
  }
  .interactive-hero-block .interactive-center .rck-image-overlay .rck-hotspot-container .hs-popup.pos-left.rck-zero {
    top: 0;
  }
  .interactive-hero-block .interactive-center .rck-image-overlay .rck-hotspot-container .hs-popup.pos-left.rck-one {
    top: 0;
  }
  .interactive-hero-block .interactive-center .rck-image-overlay .rck-hotspot-container .hs-popup.pos-left.rck-two {
    top: 0;
  }
  .interactive-hero-block .interactive-center .rck-image-overlay .rck-hotspot-container .hs-popup.pos-right {
    left: 8.5vw;
  }
  .interactive-hero-block .interactive-center .rck-image-overlay .rck-hotspot-container .hs-popup.pos-right.rck-zero {
    top: 0;
  }
  .interactive-hero-block .interactive-center .rck-image-overlay .rck-hotspot-container .hs-popup.pos-right.rck-one {
    top: 0;
  }
  .interactive-hero-block .interactive-center .rck-image-overlay .rck-hotspot-container .hs-popup.pos-right.rck-two {
    top: 0;
  }
}
/******************************************* MEDIA QUERIES: END ************************************************/
/******************************************* ANIMATIONS: START ************************************************/
@keyframes pulse-animate {
  0% {
    transform: scale(0.5);
    opacity: 0.75;
  }
  50% {
    opacity: 0.75;
  }
  100% {
    transform: scale(1.2);
    opacity: 0;
  }
}
@-webkit-keyframes grow {
  0% {
    transform: scale(1);
    background-color: #3B3B3B;
  }
  40% {
    background-color: #3B3B3B;
  }
  50% {
    transform: scale(1.25);
    background-color: #CB4E00;
  }
  80% {
    background-color: #3B3B3B;
  }
  100% {
    transform: scale(1);
    background-color: #3B3B3B;
  }
}
@-moz-keyframes grow {
  0% {
    transform: scale(1);
    background-color: #3B3B3B;
  }
  40% {
    background-color: #3B3B3B;
  }
  50% {
    transform: scale(1.25);
    background-color: #CB4E00;
  }
  80% {
    background-color: #3B3B3B;
  }
  100% {
    transform: scale(1);
    background-color: #3B3B3B;
  }
}
@keyframes grow {
  0% {
    transform: scale(1);
    background-color: #3B3B3B;
  }
  40% {
    background-color: #3B3B3B;
  }
  50% {
    transform: scale(1.25);
    background-color: #CB4E00;
  }
  80% {
    background-color: #3B3B3B;
  }
  100% {
    transform: scale(1);
    background-color: #3B3B3B;
  }
}
/******************************************* ANIMATIONS: END ************************************************/

/*# sourceMappingURL=discovery-image-hotspot-poc.css.map */
