/*************************** CIRCULAR PROGRESS BAR STYLES: START *************************/
.rck-circ-vit-wheel-journey-wrapper {
  display: flex;
  flex-flow: row nowrap;
}

.rck-circ-vit-wheel-journey-single-chart {
  width: 100%;
  justify-content: space-around;
}

.rck-circ-pb-circular-chart {
  display: block;
  margin: 0 auto;
  max-width: 80%;
}

.rck-circ-vit-wheel-journey-bg {
  fill: none;
  stroke: #dbe0ee;
  stroke-width: 5;
}

.rck-circ-vit-wheel-journey-disc {
  fill: none;
  stroke-width: 5;
  stroke-linecap: round;
}
.rck-circ-vit-wheel-journey-disc.rck-circ-vit-wheel-journey-disc-animate {
  animation: rck-circ-progress-animation 1s ease-out forwards;
  display: inline;
}
.rck-circ-vit-wheel-journey-disc.rck-circ-vit-wheel-journey-disc-hidden {
  display: none;
}

@keyframes rck-circ-progress-animation {
  0% {
    stroke-dasharray: 0 100;
  }
}
.rck-circ-pb-circular-chart.green .rck-circ-vit-wheel-journey-disc {
  stroke: #4CC790;
}

.rck-circ-pb-circular-chart.blue .rck-circ-vit-wheel-journey-disc {
  stroke: #4d85c5;
}

.circular-label {
  fill: #4c4d4f;
  font-family: sans-serif;
  font-size: 0.3em;
  text-anchor: middle;
  color: #4c4d4f;
}

.percentage {
  fill: #f15922;
  font-family: sans-serif;
  font-size: 0.5em;
  text-anchor: middle;
  color: #f15922;
}

.rck-circular-progress-background {
  position: absolute;
}
.rck-circular-progress-background .rck-circ-pb-bck-img {
  max-width: 80vw;
  width: 100%;
}
.rck-circular-progress-background .rck-circ-vit-wheel-journey-single-chart {
  position: absolute;
  top: 0;
}

/*************************** CIRCULAR PROGRESS BAR STYLES: END *************************/
.vit-health-wheel-container {
  position: relative;
  font-family: "Open Sans", sans-serif;
}
.vit-health-wheel-container .vit-health-wheel-disc {
  width: 90vw;
  height: 90vw;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: center;
}
.vit-health-wheel-container .vit-health-wheel-disc .vit-wheel-disc-bg-img {
  width: 100%;
}
.vit-health-wheel-container .vit-health-wheel-disc .vit-wheel-disc-bg-img.vit-wheel-disc-animate {
  animation-name: grow-animate;
  animation-duration: 1s;
  animation-iteration-count: 1;
}
.vit-health-wheel-container .vit-health-wheel-disc .disc-inner {
  width: 60vw;
  height: 60vw;
  background: white;
  border-radius: 50%;
}
.vit-health-wheel-container .vit-health-wheel-overlay {
  position: absolute;
  top: 50%;
  left: 50%;
}
.vit-health-wheel-container .vit-health-wheel-overlay .animate-honeycomb {
  display: flex !important;
  animation-name: grow-animate;
  animation-duration: 1s;
  animation-iteration-count: 1;
}
.vit-health-wheel-container .vit-health-wheel-overlay .vit-health-wheel-honeycomb-cont {
  /* background: grey; */
  top: -11vw;
  left: -9vw;
  position: absolute;
}
.vit-health-wheel-container .vit-health-wheel-overlay .vit-health-wheel-honeycomb-cont .honeycomb-holder {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: absolute;
  width: 18vw;
  top: 0;
}
.vit-health-wheel-container .vit-health-wheel-overlay .vit-health-wheel-honeycomb-cont .honeycomb-holder.hidden {
  display: none;
}
.vit-health-wheel-container .vit-health-wheel-overlay .vit-health-wheel-honeycomb-cont .honeycomb-holder .honeycomb-icon {
  width: 12vw;
  height: 12vw;
  margin-bottom: 1vw;
}
.vit-health-wheel-container .vit-health-wheel-overlay .vit-health-wheel-honeycomb-cont .honeycomb-holder .honeycomb-label {
  text-align: center;
  font-size: 3vw;
}
.vit-health-wheel-container .vit-health-wheel-overlay .pulse {
  opacity: 1 !important;
}
.vit-health-wheel-container .vit-health-wheel-overlay .pulse:before,
.vit-health-wheel-container .vit-health-wheel-overlay .pulse:after {
  content: "";
  display: block;
  position: absolute;
  border-radius: 50%;
  border: 1px solid #4d85c5;
  left: -0.8em;
  right: -0.8em;
  top: -0.8em;
  bottom: -0.8em;
  animation: pulse-animate 3s linear infinite;
  opacity: 0;
}
.vit-health-wheel-container .vit-health-wheel-overlay .vit-health-wheel-hotspot {
  width: 12.5vw;
  height: 12.5vw;
  cursor: pointer;
  position: absolute;
  justify-content: center;
  align-items: center;
  display: flex;
  -webkit-tap-highlight-color: transparent;
}
.vit-health-wheel-container .vit-health-wheel-overlay .vit-health-wheel-hotspot.animate-hotspot {
  display: flex !important;
  animation-name: grow-animate;
  animation-duration: 1s;
  animation-iteration-count: 1;
}
.vit-health-wheel-container .vit-health-wheel-overlay .vit-health-wheel-hotspot.pulse-animate {
  animation-name: pulse-grow-animate;
  animation-duration: 1s;
  animation-iteration-count: infinite;
}
.vit-health-wheel-container .vit-health-wheel-overlay .vit-health-wheel-hotspot.light-blue {
  background-color: #dbe0ee;
}
.vit-health-wheel-container .vit-health-wheel-overlay .vit-health-wheel-hotspot.visible {
  display: flex !important;
}
.vit-health-wheel-container .vit-health-wheel-overlay .vit-health-wheel-hotspot.hidden {
  display: none !important;
}
.vit-health-wheel-container .vit-health-wheel-overlay .vit-health-wheel-hotspot .hs-icon {
  font-size: 6.5vw;
  color: #4c4d4f;
  opacity: 0.3;
}
.vit-health-wheel-container .vit-health-wheel-overlay .vit-health-wheel-hotspot .hs-icon.unselected {
  opacity: 0.3;
}
.vit-health-wheel-container .vit-health-wheel-overlay .vit-health-wheel-hotspot .hs-icon.selected {
  opacity: 1;
}
.vit-health-wheel-container .vit-health-wheel-overlay .vit-health-wheel-hotspot .hs-icon-svg {
  width: 6.5vw;
  color: #4c4d4f;
}
.vit-health-wheel-container .vit-health-wheel-overlay .vit-health-wheel-hotspot .hs-icon-svg-small {
  width: 9vw;
  color: #4c4d4f;
}
.vit-health-wheel-container .vit-health-wheel-overlay .vit-health-wheel-hotspot .hs-icon-svg-small-inner {
  width: 7.5vw;
  color: #4c4d4f;
}
.vit-health-wheel-container .vit-health-wheel-overlay .vit-health-wheel-hotspot[data-animation-index="0"] {
  left: -31vw;
  top: -32vw;
}
.vit-health-wheel-container .vit-health-wheel-overlay .vit-health-wheel-hotspot[data-animation-index="1"] {
  left: -16vw;
  top: -40vw;
}
.vit-health-wheel-container .vit-health-wheel-overlay .vit-health-wheel-hotspot[data-animation-index="2"] {
  left: 3vw;
  top: -40vw;
}
.vit-health-wheel-container .vit-health-wheel-overlay .vit-health-wheel-hotspot[data-animation-index="3"] {
  left: 18vw;
  top: -31vw;
}
.vit-health-wheel-container .vit-health-wheel-overlay .vit-health-wheel-hotspot[data-animation-index="4"] {
  left: 22vw;
  top: 13vw;
}
.vit-health-wheel-container .vit-health-wheel-overlay .vit-health-wheel-hotspot[data-animation-index="5"] {
  left: 11vw;
  top: 23vw;
}
.vit-health-wheel-container .vit-health-wheel-overlay .vit-health-wheel-hotspot[data-animation-index="6"] {
  left: -7vw;
  top: 28vw;
}
.vit-health-wheel-container .vit-health-wheel-overlay .vit-health-wheel-hotspot[data-animation-index="7"] {
  left: -25vw;
  top: 22vw;
}
.vit-health-wheel-container .vit-health-wheel-overlay .vit-health-wheel-hotspot[data-animation-index="8"] {
  left: -36vw;
  top: 10vw;
}
.vit-health-wheel-container .vit-health-wheel-overlay .vit-health-wheel-hotspot[data-animation-index="9"] {
  left: -41vw;
  top: -4vw;
}
.vit-health-wheel-container .vit-health-wheel-overlay .vit-health-wheel-hotspot[data-animation-index="10"] {
  left: 17vw;
  top: -3vw;
}
.vit-health-wheel-container .vit-health-wheel-overlay .vit-health-wheel-hotspot[data-animation-index="11"] {
  left: 12vw;
  top: 8vw;
}
.vit-health-wheel-container .vit-health-wheel-overlay .vit-health-wheel-hotspot[data-animation-index="12"] {
  left: 2vw;
  top: 16vw;
}
.vit-health-wheel-container .vit-health-wheel-overlay .vit-health-wheel-hotspot[data-animation-index="13"] {
  left: -15vw;
  top: 16vw;
}
.vit-health-wheel-container .vit-health-wheel-overlay .vit-health-wheel-hotspot[data-animation-index="14"] {
  left: -25vw;
  top: 8vw;
}
.vit-health-wheel-container .vit-health-wheel-overlay .vit-health-wheel-hotspot[data-animation-index="15"] {
  left: -30vw;
  top: -3vw;
}

.mobile-popup-container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 5vw;
}
.mobile-popup-container .vit-health-popup {
  width: 80vw;
  height: 50vw;
  box-shadow: 3px 5px 24px 1px rgba(0, 0, 0, 0.2);
}
.mobile-popup-container .vit-health-popup.hidden {
  display: none;
}
.mobile-popup-container .vit-health-popup .vit-health-popup-content {
  display: none;
}
.mobile-popup-container .vit-health-popup .vit-health-popup-content.visible {
  display: flex !important;
}

/******************************************* ANIMATIONS: START ************************************************/
@keyframes pulse-animate {
  0% {
    transform: scale(0.5);
    opacity: 0.75;
  }
  50% {
    opacity: 0.75;
  }
  100% {
    transform: scale(1.2);
    opacity: 0;
  }
}
@keyframes grow-animate {
  0% {
    transform: scale(0.5);
    opacity: 0;
  }
  100% {
    transform: scale(1);
    opacity: 1;
  }
}
@keyframes pulse-grow-animate {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.4);
  }
  100% {
    transform: scale(1);
  }
}
/******************************************* ANIMATIONS: END ************************************************/
/******************************************* SLIDER: START ************************************************/
.animate {
  transition: transform 0.3s ease-out;
}

.ms-touch.rck-slider {
  overflow-x: scroll;
  overflow-y: hidden;
  -ms-overflow-style: none;
  /* Hides the scrollbar. */
  -ms-scroll-chaining: none;
  /* Prevents Metro from swiping to the next tab or app. */
  -ms-scroll-snap-type: mandatory;
  /* Forces a snap scroll behavior on your images. */
  -ms-scroll-snap-points-x: snapInterval(0%, 100%);
  /* Defines the y and x intervals to snap to when scrolling. */
}

.holder {
  width: calc(90vw * 16);
  max-height: 60vw;
  height: 100%;
  overflow-y: hidden;
}

.rck-slider-container {
  display: flex;
  justify-content: center;
  margin-top: 5vw;
}
.rck-slider-container.rck-slider-container-animate {
  animation-name: grow-animate;
  animation-duration: 1s;
  animation-iteration-count: 1;
}
.rck-slider-container .rck-slider-wrap {
  width: 90vw;
  height: 50vw;
  position: relative;
}
.rck-slider-container .rck-slider-wrap .rck-slider {
  width: 100%;
  height: 100%;
  overflow: hidden;
}
.rck-slider-container .rck-slider-wrap .rck-slider .rck-slide-wrapper {
  width: 90vw;
  height: 100%;
  float: left;
  position: relative;
  overflow: hidden;
}
.rck-slider-container .rck-slider-wrap .rck-slider .rck-slide-wrapper .close-container {
  display: flex;
  justify-content: flex-end;
}
.rck-slider-container .rck-slider-wrap .rck-slider .rck-slide-wrapper .rck-slide {
  position: relative;
  font-family: Sans-serif;
  -webkit-box-shadow: 0px 0px 12px 2px #e0e0e0;
  -moz-box-shadow: 0px 0px 12px 2px #e0e0e0;
  box-shadow: 0px 0px 12px 2px #e0e0e0;
  margin: 0 auto;
  top: 3vw;
  border-radius: 10px;
  width: 90%;
}
.rck-slider-container .rck-slider-wrap .rck-slider .rck-slide-wrapper .rck-slide .rck-slide-content {
  display: flex;
  line-height: 1;
  padding: 1em 0;
}
.rck-slider-container .rck-slider-wrap .rck-slider .rck-slide-wrapper .rck-slide .rck-slide-content .sl-con-icon {
  max-width: 11vw;
}
.rck-slider-container .rck-slider-wrap .rck-slider .rck-slide-wrapper .rck-slide .rck-slide-content .sl-con-left {
  flex: 1;
  padding: 0 1em;
  border-right: 1px solid grey;
}
.rck-slider-container .rck-slider-wrap .rck-slider .rck-slide-wrapper .rck-slide .rck-slide-content .sl-con-right {
  flex: 4;
  padding: 0 1em;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.rck-slider-container .rck-slider-wrap .rck-slider .rck-slide-wrapper .rck-slide .rck-slide-content .heading {
  font-weight: 600;
}
.rck-slider-container .rck-slider-wrap .rck-slider .rck-slide-wrapper .rck-slide .rck-slide-content .footer {
  color: #f15922;
  font-style: italic;
}

.rck-vh-wheel-journey-slide-breadcrumb-container {
  width: 100%;
  position: absolute;
}
.rck-vh-wheel-journey-slide-breadcrumb-container .breadcrumb-inner {
  top: -15vw;
  position: absolute;
  width: 100%;
}
.rck-vh-wheel-journey-slide-breadcrumb-container .breadcrumb-inner .breadcrumb-wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
}
.rck-vh-wheel-journey-slide-breadcrumb-container .breadcrumb-inner .breadcrumb-wrapper .arrow {
  color: #4c4d4f;
  font-size: 2em;
  cursor: pointer;
  -webkit-tap-highlight-color: transparent;
}
.rck-vh-wheel-journey-slide-breadcrumb-container .breadcrumb-inner .breadcrumb-wrapper .dot-container {
  display: flex;
  justify-content: space-evenly;
  margin-bottom: 1vw;
}
.rck-vh-wheel-journey-slide-breadcrumb-container .breadcrumb-inner .breadcrumb-wrapper .dot-container .dot {
  border-radius: 50%;
  border: 1px solid #4c4d4f;
  width: 1.5vw;
  height: 1.5vw;
  margin: 0 0.5vw;
}
.rck-vh-wheel-journey-slide-breadcrumb-container .breadcrumb-inner .breadcrumb-wrapper .dot-container .dot.selected {
  background-color: #4c4d4f;
}

/******************************************* SLIDER: END ************************************************/
/******************************************* SVG: START ************************************************/

/*# sourceMappingURL=vitality-wheel-journey.css.map */
