$pulse-color: #ffffff;
$pulse-ripple: #0177BF;
$content-font: #015498;

.interactive-hero-block {
  display: flex;
  align-items: stretch;
  //background: #e69494;
  color: $content-font;

  .interactive-left {
    width: 100%;
    //background: burlywood;
  }

  .interactive-center {
    position: relative;

    .main-image {
      width: 100%;
      //max-width: 600px;
      height: auto;
      min-width: 300px;
      //position: absolute;
      //z-index: -1;
    }

    .image-overlay {
      width: 100%;
      height: 100%;
      position: absolute;
      top: 0;
      display: flex;
      align-items: flex-start;
      justify-content: center;
      //background-color: rgba(188,143,143, 0.5);

      .hs-popup {
        width: 55%;
        background: white;
        box-shadow: 0px 0px 17px 2px rgba(0, 0, 0, 0.4);
        //border-radius: 5px;
        //margin: 0 auto;
        margin-left: 3px;
        margin-top: 20%;
        left: 0;
        right: 0;
        z-index: 1;

        &.hs-hidden {
          display: none;
        }

        .header {
          display: flex;
          justify-content: flex-end;
          margin-bottom: 0.5em;

          i {
            font-size: 20px;
            padding: 0.5em;
            cursor: pointer;
          }
        }

        .content {
          padding: 0 1em;
        }

        .footer {
          display: flex;
          align-items: center;
          justify-content: center;
          padding: 1em;

          i {
            cursor: pointer;
            font-size: 20px;
          }
        }

        .accordion-content {
          display: none;
        }
      }


      .hotspot-container {
        position: absolute;

        .pulse:hover {
          background-color: $content-font;
          i {
            color: $pulse-color;
          }
        }

        .pulse:active {
          //background: red;
        }

        .pulse {
          width: 2em;
          height: 2em;
          border-radius: 50%;
          background-color: $pulse-color;
          border: 1px solid $content-font;
          cursor: pointer;
          position: absolute;
          display: flex;
          align-items: center;
          justify-content: center;

          i {
            font-size: 1em;
            font-weight: 600;
          }

        }

        .pulse:before,
        .pulse:after {
          content: '';
          display: block;
          position: absolute;
          border-radius: 50%;
          border: 1px solid $content-font;
          left: -0.8em;
          right: -0.8em;
          top: -0.8em;
          bottom: -0.8em;
          animation: pulse-animate 3s linear infinite;
          opacity: 0;
        }

        .pulse:after {
          animation-delay: 2s;
        }
      }

      #hs1 {
        top: 20%;
        left: 10%;
      }

      #hs2 {
        top: 45%;
        left: 10%;
      }

      #hs3 {
        top: 70%;
        left: 10%;
      }

      #hs4 {
        top: 20%;
        left: 80%;

      }

      #hs5 {
        top: 45%;
        left: 80%;

      }

      #hs6 {
        top: 70%;
        left: 80%;

      }
    }
  }

  .interactive-right {
    width: 100%;
    //background: cadetblue;
  }
}

/******************************************* MEDIA QUERIES: START ************************************************/

//@media screen and (min-width: 480px) {
//
//  .interactive-hero-block {
//
//    .interactive-left {
//    }
//
//    .interactive-center {
//      .main-image {
//      }
//
//      .image-overlay {
//
//        .hotspot-container {
//          .hs-popup {
//            top: 2em;
//            width: 20vw;
//            position: absolute;
//
//            &.pos-left {
//              top: 0;
//              left: -20vw;
//            }
//
//            &.pos-right {
//              top: 0;
//              left: -8vw;
//            }
//          }
//
//          .hs-hidden {
//          }
//
//          .pulse:hover {
//          }
//
//          .pulse {
//          }
//
//          .pulse:before,
//          .pulse:after {
//          }
//
//          .pulse:after {
//          }
//        }
//
//        #hs1 {
//        }
//
//        #hs2 {
//        }
//
//        #hs3 {
//        }
//
//        #hs4 {
//        }
//
//        #hs5 {
//        }
//
//        #hs6 {
//        }
//      }
//    }
//
//    .interactive-right {
//    }
//  }
//
//}

@media screen and (min-width: 769px) {

  .interactive-hero-block {

    .interactive-left {
    }

    .interactive-center {
      .main-image {
      }

      .image-overlay {

        .hotspot-container {
          .hs-popup {
            top: 2em;
            width: 20vw;
            position: absolute;

            &.pos-left {
              //top: 0;
              left: -26vw;

              &.zero {
                top: 0;
              }

              &.one {
                top: 0;
              }

              &.two {
                top: 0;
              }
            }

            &.pos-right {
              //top: 0;
              left: 8.5vw;

              &.zero {
                top: 0;
              }

              &.one {
                top: 0;
              }

              &.two {
                top: 0;
              }
            }

          }

          .hs-hidden {
          }

          .pulse:hover {
          }

          .pulse {
          }

          .pulse:before,
          .pulse:after {
          }

          .pulse:after {
          }
        }

        #hs1 {
        }

        #hs2 {
        }

        #hs3 {
        }

        #hs4 {
        }

        #hs5 {
        }

        #hs6 {
        }
      }
    }

    .interactive-right {
    }
  }

}


//@media screen and (min-width: 1400px) {
//
//  .interactive-hero-block {
//
//    .interactive-left {
//    }
//
//    .interactive-center {
//      .main-image {
//      }
//
//      .image-overlay {
//
//        .hotspot-container {
//          .hs-popup {
//            top: 2em;
//            width: 20vw;
//
//            &.pos-left {
//              top: 0;
//              left: -26vw;
//            }
//
//            &.pos-right {
//              top: 0;
//              left: 3vw;
//            }
//          }
//
//          .hs-hidden {
//          }
//
//          .pulse:hover {
//          }
//
//          .pulse {
//          }
//
//          .pulse:before,
//          .pulse:after {
//          }
//
//          .pulse:after {
//          }
//        }
//
//        #hs1 {
//        }
//
//        #hs2 {
//        }
//
//        #hs3 {
//        }
//
//        #hs4 {
//        }
//
//        #hs5 {
//        }
//
//        #hs6 {
//        }
//      }
//    }
//
//    .interactive-right {
//    }
//  }
//
//}

/******************************************* MEDIA QUERIES: END ************************************************/

/******************************************* ANIMATIONS: START ************************************************/

@keyframes pulse-animate {

  0% {
    transform: scale(0.5);
    opacity: 0.75;
  }

  50% {
    opacity: 0.75;
  }

  100% {
    transform: scale(1.2);
    opacity: 0;
  }
}

/******************************************* ANIMATIONS: END ************************************************/