$pulse-color: #ffffff;
$pulse-ripple: #0177BF;
$content-font: #015498;

$vitality-grey: #3B3B3B;
$vitality-grey-border: #707070;
$vitality-orange: #CB4E00;

.rck-image-overlay {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  display: flex;
  align-items: flex-start;
  justify-content: center;
}

.interactive-hero-block {
  display: flex;
  align-items: stretch;
  //background: #e69494;
  color: $content-font;
  font-family: 'Open Sans', sans-serif;

  .interactive-left {
    width: 100%;
    //background: burlywood;
  }

  .interactive-center {
    position: relative;

    .main-image {
      width: 100%;
      //max-width: 600px;
      height: auto;
      min-width: 350px;
      //position: absolute;
      //z-index: -1;
    }

    .rck-image-overlay {
      width: 100%;
      height: 100%;
      position: absolute;
      top: 0;
      display: flex;
      align-items: flex-start;
      justify-content: center;
      //background-color: rgba(188,143,143, 0.5);

      //.hs-popup:hover {
      //  background: $vitality-grey;
      //  color: white;
      //
      //  .heading-underline {
      //    background-color: white;
      //  }
      //}

      .hs-popup {
        width: 55%;
        background: white;
        color: $vitality-grey;
        box-shadow: 3px 5px 24px 1px rgba(0, 0, 0, 0.2);
        //border-radius: 5px;
        //margin: 0 auto;
        margin-left: 3px;
        margin-top: 15%;
        left: 0;
        right: 0;
        z-index: 1;

        &.hs-hidden {
          display: none;
        }

        .rck-header {
          display: flex;
          justify-content: space-between;
          align-items: center;
          //margin-bottom: 0.5em;

          .index {
            padding: 1em 1.5em;
            font-weight: 600;
            letter-spacing: 0.05em;
          }

          .rck-close-button {
            font-size: 1em;
            font-weight: 800;
            padding: 1em 1.5em;
            cursor: pointer;
          }
        }

        .rck-content {
          //padding: 0 1.5em;
          //margin-bottom: 1em;

          .rck-heading {
            font-weight: 600;
            padding: 0 1.5em;
          }

          .rck-heading-divider {
            width: 1.75em;
            height: 0.2em;
            background: $vitality-grey;
            margin: 0 1.5em;
            margin-bottom: 1em;
            margin-top: 0.5em;
          }

          .rck-accordion-container {
            display: none;

            .rck-accordion-content {
              max-height: 70vw;
              overflow-y: auto;
              padding: 0 1.5em;
              margin-bottom: 1em;
              margin-top: 0.8em;
              margin-right: 1em;

              &.rck-has-visual {
                max-height: 35vw;
              }
            }

            .rck-accordion-content::-webkit-scrollbar,
            .rck-accordion-content::-webkit-scrollbar-thumb,
            .rck-accordion-content::-webkit-scrollbar-track {
              width: 8px;
              border: none;
              //background-transparent;
            }

            .rck-accordion-content::-webkit-scrollbar-button,
            .rck-accordion-content::-webkit-scrollbar-track-piece,
            .rck-accordion-content::-webkit-scrollbar-corner,
            .rck-accordion-content::-webkit-resizer {
              display: none;
            }

            .rck-accordion-content::-webkit-scrollbar-thumb {
              border-radius: 6px;
              background-color: $vitality-grey;
            }

            .rck-accordion-content::-webkit-scrollbar-track {
              background-image: url("http://navigatehost.co.za/digital_discovery/custom-dev/image-hotspot/assets/scroll-track.png");
              background-repeat: repeat-y;
              background-size: contain;
            }

            .rck-visual-container {
              height: 35vw;
              background-color: $vitality-grey-border;
            }

          }

        }

        .rck-footer {
          display: flex;
          align-items: center;
          justify-content: center;

          .rck-accordion-icon-container {
            position: absolute;

            .rck-accordion-icon {
              cursor: pointer;
              font-size: 1em;
              font-weight: 800;
              padding: 0.8em;
              left: -0.8em;
              position: absolute;
              //top: -1em;
              color: white;
              background: $vitality-grey;
              border-radius: 100%;
              text-align: center;
              top: -1.4em;
              line-height: 1;


              //display: none;
            }

            .rck-accordion-icon:hover {
              background: $vitality-orange;
            }
          }
        }
      }


      .rck-hotspot-container {
        position: absolute;

        .pulse-vitality {
          width: 1.5em;
          height: 1.5em;
          border-radius: 50%;
          color: white;
          cursor: pointer;
          position: absolute;
          display: flex;
          align-items: center;
          justify-content: center;

          .pulse-label {
            font-size: 0.8em;
            font-weight: 600;
            z-index: 1;
          }
        }

        .pulse-vitality:before,
        .pulse-vitality:after {
          //z-index: -1;
          content: '';
          display: block;
          position: absolute;
          border-radius: 50%;
          //border: 1px solid $content-font;
          left: -0.6em;
          right: -0.6em;
          top: -0.6em;
          bottom: -0.6em;
          -webkit-transition-property: -webkit-transform;
          -webkit-transition-duration: 1s;
          -moz-transition-property: -moz-transform;
          -moz-transition-duration: 1s;
          -webkit-animation-name: grow;
          -webkit-animation-duration: 2s;
          -webkit-animation-iteration-count: infinite;
          -webkit-animation-timing-function: linear;
          -moz-animation-name: grow;
          -moz-animation-duration: 2s;
          -moz-animation-iteration-count: infinite;
          -moz-animation-timing-function: linear;

          transition-property: -moz-transform;
          transition-duration: 1s;
          animation-name: grow;
          animation-duration: 2s;
          animation-iteration-count: infinite;
          animation-timing-function: linear;
          opacity: 1;
        }

        .pulse-vitality-selected {
          //width: 2.5em;
          //height: 2.5em;
          //background-color: $vitality-orange;

          .pulse-label {
            font-size: 0.8em;
            font-weight: 600;
            z-index: 1;
          }
        }

        .pulse-vitality-selected:before,
        .pulse-vitality-selected:after {
          //z-index: -1;
          content: '';
          display: block;
          position: absolute;
          border-radius: 50%;
          //border: 1px solid $content-font;
          animation: none;
          background-color: $vitality-orange;
          //opacity: 0;
        }


        .pulse:hover {
          background-color: $content-font;
          i {
            color: $pulse-color;
          }
        }

        .pulse:active {
          //background: red;
        }

        .pulse {
          width: 2em;
          height: 2em;
          border-radius: 50%;
          background-color: $pulse-color;
          border: 1px solid $content-font;
          cursor: pointer;
          position: absolute;
          display: flex;
          align-items: center;
          justify-content: center;

          i {
            font-size: 1em;
            font-weight: 600;
          }

        }

        .pulse:before,
        .pulse:after {
          content: '';
          display: block;
          position: absolute;
          border-radius: 50%;
          border: 1px solid $content-font;
          left: -0.8em;
          right: -0.8em;
          top: -0.8em;
          bottom: -0.8em;
          animation: pulse-animate 3s linear infinite;
          opacity: 0;
        }

        .pulse:after {
          animation-delay: 2s;
        }
      }

      #hs1 {
        top: 20%;
        left: 12%;
      }

      #hs2 {
        top: 45%;
        left: 12%;
      }

      #hs3 {
        top: 70%;
        left: 12%;
      }

      #hs4 {
        top: 20%;
        left: 82%;

      }

      #hs5 {
        top: 45%;
        left: 82%;

      }

      #hs6 {
        top: 70%;
        left: 82%;

      }
    }
  }

  .interactive-right {
    width: 100%;
    //background: cadetblue;
  }
}

/******************************************* MEDIA QUERIES: START ************************************************/

//@media screen and (min-width: 480px) {
//
//  .interactive-hero-block {
//
//    .interactive-left {
//    }
//
//    .interactive-center {
//      .main-image {
//      }
//
//      .image-overlay {
//
//        .hotspot-container {
//          .hs-popup {
//            top: 2em;
//            width: 20vw;
//            position: absolute;
//
//            &.pos-left {
//              top: 0;
//              left: -20vw;
//            }
//
//            &.pos-right {
//              top: 0;
//              left: -8vw;
//            }
//          }
//
//          .hs-hidden {
//          }
//
//          .pulse:hover {
//          }
//
//          .pulse {
//          }
//
//          .pulse:before,
//          .pulse:after {
//          }
//
//          .pulse:after {
//          }
//        }
//
//        #hs1 {
//        }
//
//        #hs2 {
//        }
//
//        #hs3 {
//        }
//
//        #hs4 {
//        }
//
//        #hs5 {
//        }
//
//        #hs6 {
//        }
//      }
//    }
//
//    .interactive-right {
//    }
//  }
//
//}

@media screen and (min-width: 769px) {

  .interactive-hero-block {

    .interactive-left {
    }

    .interactive-center {
      .main-image {
      }

      .rck-image-overlay {

        .rck-hotspot-container {
          .hs-popup {
            top: 2em;
            width: 20vw;
            position: absolute;

            .rck-content {

              .rck-accordion-content {
                max-height: 20vw;

                &.rck-has-visual {
                  max-height: 15vw;
                }
              }

              .rck-visual-container {
                height: 15vw;
              }
            }

            .rck-footer {
              .rck-accordion-icon {
              }

            }

            &.pos-left {
              //top: 0;
              left: -26vw;

              &.rck-zero {
                top: 0;
              }

              &.rck-one {
                top: 0;
              }

              &.rck-two {
                top: 0;
              }
            }

            &.pos-right {
              //top: 0;
              left: 8.5vw;

              &.rck-zero {
                top: 0;
              }

              &.rck-one {
                top: 0;
              }

              &.rck-two {
                top: 0;
              }
            }

          }

          .hs-hidden {
          }

          .pulse:hover {
          }

          .pulse {
          }

          .pulse:before,
          .pulse:after {
          }

          .pulse:after {
          }
        }

        #hs1 {
        }

        #hs2 {
        }

        #hs3 {
        }

        #hs4 {
        }

        #hs5 {
        }

        #hs6 {
        }
      }
    }

    .interactive-right {
    }
  }

}


//@media screen and (min-width: 1400px) {
//
//  .interactive-hero-block {
//
//    .interactive-left {
//    }
//
//    .interactive-center {
//      .main-image {
//      }
//
//      .image-overlay {
//
//        .hotspot-container {
//          .hs-popup {
//            top: 2em;
//            width: 20vw;
//
//            &.pos-left {
//              top: 0;
//              left: -26vw;
//            }
//
//            &.pos-right {
//              top: 0;
//              left: 3vw;
//            }
//          }
//
//          .hs-hidden {
//          }
//
//          .pulse:hover {
//          }
//
//          .pulse {
//          }
//
//          .pulse:before,
//          .pulse:after {
//          }
//
//          .pulse:after {
//          }
//        }
//
//        #hs1 {
//        }
//
//        #hs2 {
//        }
//
//        #hs3 {
//        }
//
//        #hs4 {
//        }
//
//        #hs5 {
//        }
//
//        #hs6 {
//        }
//      }
//    }
//
//    .interactive-right {
//    }
//  }
//
//}

/******************************************* MEDIA QUERIES: END ************************************************/

/******************************************* ANIMATIONS: START ************************************************/

@keyframes pulse-animate {

  0% {
    transform: scale(0.5);
    opacity: 0.75;
  }

  50% {
    opacity: 0.75;
  }

  100% {
    transform: scale(1.2);
    opacity: 0;
  }
}

@-webkit-keyframes grow {
  0% {
    transform: scale(1);
    background-color: $vitality-grey;
    //opacity: 0.75;
  }

  40% {
    background-color: $vitality-grey;
    //opacity: 0.75;
  }

  50% {
    transform: scale(1.25);
    background-color: $vitality-orange;
    //opacity: 0.75;
  }

  80% {
    background-color: $vitality-grey;
    //opacity: 0.75;
  }

  100% {
    transform: scale(1);
    background-color: $vitality-grey;
    //opacity: 0;
  }

  //from {
  //  -webkit-transform:scale(1);
  //}
  //to {
  //  -webkit-transform:scale(1.5);
  //  background-color: $vitality-orange;
  //
  //}
}
@-moz-keyframes grow {
  0% {
    transform: scale(1);
    background-color: $vitality-grey;
    //opacity: 0.75;
  }

  40% {
    background-color: $vitality-grey;
    //opacity: 0.75;
  }

  50% {
    transform: scale(1.25);
    background-color: $vitality-orange;
    //opacity: 0.75;
  }

  80% {
    background-color: $vitality-grey;
    //opacity: 0.75;
  }

  100% {
    transform: scale(1);
    background-color: $vitality-grey;
    //opacity: 0;
  }

  //from {
  //  -moz-transform:scale(1);
  //}
  //to {
  //  -moz-transform:scale(1.5);
  //  background-color: $vitality-orange;
  //}
}
@keyframes grow {
  0% {
    transform: scale(1);
    background-color: $vitality-grey;
    //opacity: 0.75;
  }

  40% {
    background-color: $vitality-grey;
    //opacity: 0.75;
  }

  50% {
    transform: scale(1.25);
    background-color: $vitality-orange;
    //opacity: 0.75;
  }

  80% {
    background-color: $vitality-grey;
    //opacity: 0.75;
  }

  100% {
    transform: scale(1);
    background-color: $vitality-grey;
    //opacity: 0;
  }

  //from {
  //  transform:scale(1);
  //}
  //to {
  //  transform:scale(1.5);
  //  background-color: $vitality-orange;
  //}
}

/******************************************* ANIMATIONS: END ************************************************/