/*************************** CIRCULAR PROGRESS BAR STYLES: START *************************/

$vitality-orange: #f15922;
$discovery-dark-grey: #4c4d4f;
$circle-stroke-bg: #dedfe0;
$vitality-blue: #4d85c5;
$vitality-light-blue: #dbe0ee;

.rck-circ-vit-wheel-journey-wrapper {
  display: flex;
  flex-flow: row nowrap;
}

.rck-circ-vit-wheel-journey-single-chart {
  width: 100%;
  justify-content: space-around;
}

.rck-circ-pb-circular-chart {
  display: block;
  margin: 0 auto;
  max-width: 80%;
  //max-height: 175px;
}

.rck-circ-vit-wheel-journey-bg {
  fill: none;
  stroke: $vitality-light-blue;
  stroke-width: 5;
}

.rck-circ-vit-wheel-journey-disc {
  fill: none;
  stroke-width: 5;
  stroke-linecap: round;

  &.rck-circ-vit-wheel-journey-disc-animate {
    animation: rck-circ-progress-animation 1s ease-out forwards;
    display: inline;
  }

  &.rck-circ-vit-wheel-journey-disc-hidden {
    display: none;
  }
}

@keyframes rck-circ-progress-animation {
  0% {
    stroke-dasharray: 0 100;
  }
}

.rck-circ-pb-circular-chart.orange .rck-circ-vit-wheel-journey-disc {
  //stroke: $vitality-orange;
  //stroke:url(#grad);
}

.rck-circ-pb-circular-chart.green .rck-circ-vit-wheel-journey-disc {
  stroke: #4CC790;
}

.rck-circ-pb-circular-chart.blue .rck-circ-vit-wheel-journey-disc {
  stroke: $vitality-blue;
}

.circular-label {
  fill: $discovery-dark-grey;
  font-family: sans-serif;
  font-size: 0.3em;
  text-anchor: middle;
  color: $discovery-dark-grey;
}

.percentage {
  fill: $vitality-orange;
  font-family: sans-serif;
  font-size: 0.5em;
  text-anchor: middle;
  color: $vitality-orange;
}

.rck-circular-progress-background {
  position: absolute;

  .rck-circ-pb-bck-img {
    max-width: 80vw;
    width: 100%;
  }

  .rck-circ-vit-wheel-journey-single-chart {
    position: absolute;
    top: 0;
  }
}

/*************************** CIRCULAR PROGRESS BAR STYLES: END *************************/

.vit-health-wheel-container {
  position: relative;

  .vit-health-wheel-disc {
    //background: $vitality-light-blue;
    width: 90vw;
    height: 90vw;
    //border-radius: 50%;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: center;

    .vit-wheel-disc-bg-img {
      width: 100%;
      animation-name: grow-animate;
      animation-duration: 1s;
      animation-iteration-count: 1;
    }

    .disc-inner {
      width: 60vw;
      height: 60vw;
      background: white;
      border-radius: 50%;
    }
  }

  .vit-health-wheel-overlay {
    position: absolute;
    top: 50%;
    left: 50%;

    .animate-honeycomb {
      display: flex !important;
      animation-name: grow-animate;
      animation-duration: 1s;
      animation-iteration-count: 1;
    }

    .vit-health-wheel-honeycomb-cont {
      /* background: grey; */
      top: -16vw;
      left: -12vw;
      position: absolute;
      display: flex;
      align-items: center;
      justify-content: center;

      .honeycomb-grid {
        font-family: Sans-serif;

        .honeycomb-row:not(last-child) {
          margin-bottom: 2vw;
        }

        .honeycomb-row {
          display: flex;
          align-items: flex-end;
          //justify-content: center;

          .honeycomb-holder:not(last-child) {
            margin-right: 4vw;
          }

          .honeycomb-holder {
            //width: 50%;
            display: none;
            flex-direction: column;
            align-items: center;

            .honeycomb-icon {
              width: 8vw;
              height: 8vw;
              margin-bottom: 0.5vw;
              margin-top:0.5vw;
            }

            .honeycomb-label {
              text-align: center;
              font-size: 2vw;
            }
          }
        }
      }
    }

    .pulse {
      opacity: 1 !important;
    }

    .pulse:before,
    .pulse:after {
      content: '';
      display: block;
      position: absolute;
      border-radius: 50%;
      border: 1px solid $vitality-blue;
      left: -0.8em;
      right: -0.8em;
      top: -0.8em;
      bottom: -0.8em;
      animation: pulse-animate 3s linear infinite;
      opacity: 0;
    }

    //.pulse:after {
    //  animation-delay: 2s;
    //}

    .vit-health-wheel-hotspot {
      width: 12.5vw;
      height: 12.5vw;
      //background-color: $vitality-blue;
      cursor: pointer;
      position: absolute;
      justify-content: center;
      align-items: center;
      display: flex;
      //opacity: 0;
      -webkit-tap-highlight-color: transparent;

      &.animate-hotspot {
        display: flex !important;
        animation-name: grow-animate;
        animation-duration: 1s;
        animation-iteration-count: 1;
        //animation-delay: 1s;
      }

      &.pulse-animate {
        animation-name: pulse-grow-animate;
        animation-duration: 1s;
        animation-iteration-count: infinite
      }

      &.light-blue {
        background-color: $vitality-light-blue;
      }

      &.visible {
        display: flex !important;
      }

      &.hidden {
        display: none !important;
      }

      .hs-icon {
        font-size: 6.5vw;
        color: $discovery-dark-grey;
        opacity: 0.3;

        &.unselected {
          opacity: 0.3;
        }

        &.selected {
          opacity: 1;
        }
      }

      .hs-icon-svg {
        width: 6.5vw;
        color: $discovery-dark-grey;
        //opacity: 0.3;

        &.unselected {
          //opacity: 0.3;
        }

        &.selected {
          //opacity: 1;
        }

      }

      .hs-icon-svg-small {
        width: 9vw;
        color: $discovery-dark-grey;
      }

      .hs-icon-svg-small-inner {
        width: 7.5vw;
        color: $discovery-dark-grey;
      }

    }

    .vit-health-wheel-hotspot[data-animation-index="0"] {
      left: -31vw;
      top: -32vw;
    }
    .vit-health-wheel-hotspot[data-animation-index="1"] {
      left: -16vw;
      top: -40vw;
    }
    .vit-health-wheel-hotspot[data-animation-index="2"] {
      left: 3vw;
      top: -40vw;
    }
    .vit-health-wheel-hotspot[data-animation-index="3"] {
      left: 18vw;
      top: -31vw;
    }
    .vit-health-wheel-hotspot[data-animation-index="4"] {
      left: 22vw;
      top: 13vw;
    }
    .vit-health-wheel-hotspot[data-animation-index="5"] {
      left: 11vw;
      top: 23vw;
    }
    .vit-health-wheel-hotspot[data-animation-index="6"] {
      left: -7vw;
      top: 28vw;
    }
    .vit-health-wheel-hotspot[data-animation-index="7"] {
      left: -25vw;
      top: 22vw;
    }
    .vit-health-wheel-hotspot[data-animation-index="8"] {
      left: -36vw;
      top: 10vw;
    }
    .vit-health-wheel-hotspot[data-animation-index="9"] {
      left: -41vw;
      top: -4vw;
    }
    .vit-health-wheel-hotspot[data-animation-index="10"] {
      left: 17vw;
      top: -3vw;
    }
    .vit-health-wheel-hotspot[data-animation-index="11"] {
      left: 12vw;
      top: 8vw;
    }
    .vit-health-wheel-hotspot[data-animation-index="12"] {
      left: 2vw;
      top: 16vw;
    }
    .vit-health-wheel-hotspot[data-animation-index="13"] {
      left: -15vw;
      top: 16vw;
    }
    .vit-health-wheel-hotspot[data-animation-index="14"] {
      left: -25vw;
      top: 8vw;
    }
    .vit-health-wheel-hotspot[data-animation-index="15"] {
      left: -30vw;
      top: -3vw;
    }
  }
}

.mobile-popup-container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 5vw;

  .vit-health-popup {
    width: 80vw;
    height: 50vw;
    box-shadow: 3px 5px 24px 1px rgba(0, 0, 0, 0.2);

    &.hidden {
      display: none;
    }
    //border-radius: 50%;

    .vit-health-popup-content {
      display: none;

      &.visible {
        display: flex !important;
      }
    }
  }
}

/******************************************* ANIMATIONS: START ************************************************/

@keyframes pulse-animate {

  0% {
    transform: scale(0.5);
    opacity: 0.75;
  }

  50% {
    opacity: 0.75;
  }

  100% {
    transform: scale(1.2);
    opacity: 0;
  }
}

@keyframes grow-animate {

  0% {
    transform: scale(0.5);
    opacity: 0;
  }

  50% {
    //opacity: 0.75;
  }

  100% {
    transform: scale(1);
    opacity: 1;
  }
}

@keyframes pulse-grow-animate {

  0% {
    transform: scale(1);
  }

  50% {
    transform: scale(1.4);
  }


  100% {
    transform: scale(1);
  }
}

/******************************************* ANIMATIONS: END ************************************************/

/******************************************* SLIDER: START ************************************************/

.animate {
  transition: transform 0.3s ease-out;
}

.ms-touch.slider {
  overflow-x: scroll;
  overflow-y: hidden;

  -ms-overflow-style: none;
  /* Hides the scrollbar. */

  -ms-scroll-chaining: none;
  /* Prevents Metro from swiping to the next tab or app. */

  -ms-scroll-snap-type: mandatory;
  /* Forces a snap scroll behavior on your images. */

  -ms-scroll-snap-points-x: snapInterval(0%, 100%);
  /* Defines the y and x intervals to snap to when scrolling. */
}

$slider-width: 90vw;

.holder {
  width: calc(90vw * 16);
  max-height: 60vw;
  height: 100%;
  overflow-y: hidden;
}

.rck-slider-container {
  display: flex;
  justify-content: center;
  margin-top: 5vw;
  animation-name: grow-animate;
  animation-duration: 1s;
  animation-iteration-count: 1;

  .slider-wrap {
    width: $slider-width;
    height: 50vw;
    position: absolute;
    //left: 50%;
    //margin-left: -150px;
    //top: 50%;
    //margin-top: -225px;

    .slider {
      width: 100%;
      height: 100%;
      overflow: hidden;

      .slide-wrapper {
        width: $slider-width;
        height: 100%;
        float: left;
        position: relative;
        overflow: hidden;

        .close-container {
          display: flex;
          justify-content: flex-end;
        }

        .slide {
          //height: 100%;
          position: relative;
          font-family: Sans-serif;
          -webkit-box-shadow: 0px 0px 12px 2px rgba(224,224,224,1);
          -moz-box-shadow: 0px 0px 12px 2px rgba(224,224,224,1);
          box-shadow: 0px 0px 12px 2px rgba(224,224,224,1);
          margin: 0 auto;
          top: 3vw;
          border-radius: 10px;
          width: 90%;

          .slide-content {
            display: flex;
            line-height: 1;
            padding: 1em 0;

            .sl-con-icon {
              max-width: 11vw;
            }

            .sl-con-left {
              flex: 1;
              padding: 0 1em;
              border-right: 1px solid grey;
            }

            .sl-con-right {
              flex: 4;
              padding: 0 1em;
              display: flex;
              flex-direction: column;
              justify-content: center;
            }

            .heading {
              font-weight: 600;
            }

            .body {

            }

            .footer {
              color: $vitality-orange;
              font-style: italic;
            }
          }
        }

      }
    }
  }
}

.rck-vh-wheel-journey-slide-breadcrumb-container {
  width: 100%;
  position: absolute;

  .breadcrumb-inner {
    top: -15vw;
    position: absolute;
    width: 100%;

    .breadcrumb-wrapper {
      display: flex;
      align-items: center;
      justify-content: center;

      .arrow {
        color: $discovery-dark-grey;
        font-size: 2em;
        cursor: pointer;
        -webkit-tap-highlight-color: transparent;
      }

      .dot-container {
        display: flex;
        justify-content: space-evenly;
        margin-bottom: 1vw;

        .dot {
          border-radius: 50%;
          border: 1px solid $discovery-dark-grey;
          width: 1.5vw;
          height: 1.5vw;
          margin: 0 0.5vw;

          &.selected {
            background-color: $discovery-dark-grey;
          }
        }
      }
    }

  }
}

//.slide img {
//  position: absolute;
//  z-index: 0;
//  transform: translatex(-100px);
//}

//.slide:before {
//  content: "";
//  position: absolute;
//  z-index: 1;
//  bottom: 0;
//  left: 0;
//  width: 100%;
//  height: 40%;
//  background: linear-gradient(transparent, black);
//}
//
//.slide div {
//  width: 300px;
//  height: 500px;
//  z-index: 0;
//}

/******************************************* SLIDER: END ************************************************/

/******************************************* SVG: START ************************************************/
svg path {fill: #f15922 !important;}